<!doctype html>
<html lang="en">
  <head>
    <title>Add Favorite Country</title>
  </head>
  <body>
    <h1>Add Favorite Country</h1>
    <form action="{{ url_for('add_country') }}" method="post">
      <label for="username">Your Name:</label><br />
      <input type="text" id="username" name="username" required /><br />
      
      <label for="country">Country:</label><br />
      <input type="text" id="country" name="country" required /><br />
      
      <input type="submit" value="Save Country" />
    </form>
  </body>
</html>